*.log
*.uuid
*.db
.storage
known_devices.yaml
entity_registry.yaml
secrets.yaml
components
deps
tts
.cloud
.google_maps_location_sharing*
webostv.conf
esphome
node-red
plex.conf
www/community
custom_components/average
custom_components/badnest
custom_components/browser_mod
custom_components/customizer
custom_components/hacs
custom_components/huesensor
custom_components/lovelace_gen
esphome/secrets.yaml
service_account.json
