[submodule "themes"]
	path = themes
	url = https://github.com/maartenpaauw/home-assistant-community-themes.git
[submodule "www/custom-lovelace"]
	path = www/custom-lovelace
	url = https://github.com/ciotlosm/custom-lovelace.git
